.sidenav {
  width: 250px;
  height: 400px;
  bottom: 10px;
  position: fixed;
  background: rgb(red, green, blue);
  color: white;
  padding-top: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}

.sidenav ul {
  list-style: none;
  padding: 0;
}

.sidenav ul li {
  padding: 15px 20px;
  font-size: 18px;
  transition: 0.3s;
}

.sidenav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidenav ul li:hover {
  background: #555;
  transform: translateX(5px);
}

.sidenav ul li a i {
  margin-right: 10px;
  /* Space between icon and text */
  font-size: 20px;
  /* Icon size */
}