<nav class="sidenav">
  <ul>
    <li>
      <a routerLink="/companyGrid">
        <i class="fas fa-home"></i>
        <span class="menu-item">Companies</span>
      </a>
    </li>
    <li>
      <a routerLink="/employeeGrid">
        <i class="fas fa-users"></i>
        <span class="menu-item">Employees</span>
      </a>
    </li>
    <li>
      <a routerLink="/uploadGrid">
        <i class="fas fa-file-alt"></i>
        <span class="menu-item">Documents</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/reports">
        <i class="fas fa-chart-line"></i>
        <span class="menu-item">Reports</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings">
        <i class="fas fa-cogs"></i>
        <span class="menu-item">Settings</span>
      </a>
    </li>
  </ul>
</nav>