<!-- <p>companygrid works!</p>
<div class="container">
    <h2>Company List</h2>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>CompanyName</th>
          <th>CompanyCode</th>
          <th>CEO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td>{{ company.id }}</td>
          <td>{{ company.companyName }}</td>
          <td>{{ company.companyCode }}</td>
          <td>{{ company.ceo }}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination">
        <button (click)="onPageChange(page - 1)" [disabled]="page === 0">Previous</button>
        <span>Page {{ page + 1 }} of {{ getTotalPages() }}</span>
        <button (click)="onPageChange(page + 1)" [disabled]="page + 1 >= getTotalPages()">Next</button>
      </div>
    </div>
   -->

<div class="company-container">
  <h2 class="table-title">Companys List</h2>
  <button class="btn btn-primary mb-3" (click)="navigateToAddCompany()">+ Add Company</button>

  <button class="btn btn-primary mb-3" (click)="referesh()">
    <i class="fas fa-sync-alt"></i>
  </button>
  <button class="btn btn-primary mb-3" (click)="back()">Back
    <i class="fas fa-arrow-left"></i>
  </button>


  <div class="table-responsive">
    <table class="table table-bordered table-striped custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Company Name</th>
          <th>Company Code</th>
          <th>CEO</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td>{{ company.id }}</td>
          <td>{{ company.companyName }}</td>
          <td>{{ company.companyCode }}</td>
          <td>{{ company.ceo }}</td>
          <td>
            <!-- <button class="btn btn-warning btn-sm" (click)="updateCompany(company)">
              <i class="fas fa-edit"></i> Edit
            </button> -->
            <button class="btn btn-warning btn-sm" (click)="editCompany(company)">
              <i class="fas fa-edit"></i> Edit
            </button>
            <button class="btn btn-danger btn-sm"
              (click)="company.id ? deleteCompany(company.id) : null">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    <button class="pagination-btn" (click)="onPageChange(page - 1)" [disabled]="page === 0">
      ◀ Previous
    </button>
    <span class="page-info">Page {{ page + 1 }} of {{ getTotalPages() }}</span>
    <button class="pagination-btn" (click)="onPageChange(page + 1)" [disabled]="page + 1 >= getTotalPages()">
      Next ▶
    </button>
  </div>
</div>